<!DOCTYPE html>
<html data-ng-app="App">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Login</title>
		<link rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Tangerine">
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="favicon.ico" />
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="js/modernizr-2.6.2.min.js"></script>
	</head>
	<body ng-controller="">
		<div class="container">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<img height="100" width="100" alt="Login image" class="img-responsive center-block" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
				</div>
				<h1 div class="text-center">Ingresar</h1>
				<div class="col-md-12">
					<form class="center-block form-horizontal">
						<div class="form-group">
							<input type="text" class="form-control input-lg" placeholder="Correo Electrónico" name="email" id="email" ng-model="">
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-lg" placeholder="Contraseña" name="password" id="password" ng-model="">
						</div>
						<div class="form-group" align="right">
							<input type="checkbox" name="rememberme" id="rememberme"> Recuérdame
						</div>
						<div class="form-group">
							<a class="btn btn-lg btn-success btn-raised" id="registerButton">Regístrate</a>
							<a class="btn btn-lg btn-primary pull-right btn-raised" id="loginButton" ng-click="">Iniciar Sesión</a>
						</div>
					</form>
					<div class="col-md-12 text-center">
						<a href="#">¿Olvidaste tu contraseña?</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</body>
</html>