<div class="container" ng-controller="AccessController">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<h1 class="text-center">Ingresar</h1>
		<div class="col-md-12">
			<form class="center-block form-horizontal">
				<div class="form-group">
					<input type="text" class="form-control input-lg" placeholder="Correo Electrónico" name="email" id="email" ng-model="email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder="Contraseña" name="password" id="password" ng-model="password">
				</div>
				<div class="form-group">
					<input type="checkbox" name="rememberme" id="rememberme">  <label for="rememberme">Recuérdame</label>
				</div>
				<div class="form-group">
                    <a class="btn btn-lg btn-block btn-success btn-raised" id="loginButton" ng-click="login()">Ingresar</a>					
                    <a class="btn btn-lg  btn-block btn-primary btn-raised" id="registerButton" href="#signup" >Regístrate</a>
				</div>
			</form>
			<div class="col-md-12 text-center">
				<a href="#">¿Olvidaste tu contraseña?</a>
			</div>
		</div>
	</div>
</div>
