<div class="container" ng-controller="AccessController">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<h1 div class="text-center">Ingresar</h1>
		<div class="col-md-12">
			<form class="center-block form-horizontal">
				<div class="form-group">
					<input type="text" class="form-control input-lg" placeholder="Correo Electrónico" name="email" id="email" ng-model="email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder="Contraseña" name="password" id="password" ng-model="password">
				</div>
				<div class="form-group" align="right">
					<input type="checkbox" name="rememberme" id="rememberme"> Recuérdame
				</div>
				<div class="form-group">
					<a class="btn btn-lg btn-primary pull-right btn-raised" id="registerButton" href="#signup" >Regístrate</a>
					<a class="btn btn-lg btn-success btn-raised" id="loginButton" ng-click="login()">Ingresar</a>
				</div>
			</form>
			<div class="col-md-12 text-center">
				<a href="#">¿Olvidaste tu contraseña?</a>
			</div>
		</div>
	</div>
</div>
