<div ng-include="'templates/header.html'"></div>
   <div class="container top-cont">
    <div class="row no-margin" ng-controller="ProfileController">
        <div ng-include="'templates/menu.html'"></div>
        <div class="col-md-12 personal-info well">
            <h1 class="page-header">Editar Perfil</h1>
                <div class="row">
                    <div class="col-md-12">
                        <tabs>
                            <pane title="Datos Personales">
                                <form ng-submit="saveProfile()" name="profileForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Nombre(s):</label>
                                                <input class="form-control" type="text" ng-model="formData.name" name="name" id="name" placeholder="" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="lastname">Apellidos(s):</label>
                                                <input class="form-control" type="text" ng-model="formData.name" name="lastname" id="lastname" placeholder="" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" >Calle:</label>
                                                <input class="form-control" name="Domicilio" ng-model="formData.address" id="Domicilio" type="text" placeholder="" required/>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </pane>
                            <pane title="Facturación">
                                <div>This is the content of the second tab.</div>
                            </pane>
                            <pane title="Configuraciones">
                                <div>This is the content of the second tab.</div>
                            </pane>
                        </tabs>
                    </div>
                </div>



                        <!-- Tipo de perfil radio-->
                    <div class="row form-group">
                        <label class="col-md-3 control-label">Tipo de Perfil</label>
                        <div class="col-md-8">
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="person" id="fisica" value="fisica" ng-model="formData.radioPerson"><span class="circle"></span><span class="check"></span>
                              Persona Fisica
                            </label>
                          </div>
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="person" id="moral" value="moral" ng-model="formData.radioPerson" ><span class="circle"></span><span class="check"></span>
                                 Persona moral
                            </label>
                          </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">Nombre:</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" ng-model="formData.name" name="nombre" id="nombre" placeholder="Nombre completo" ng-disabled="formData.radioPerson != 'fisica'" ng-required="formData.radioPerson == 'fisica'"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">Nacionalidad:</label>
                        <div class="col-lg-9">
                            <input class="form-control" ng-model="formData.nation" name="Nacionalidad" id="Nacionalidad" type="text" placeholder="Nacionalidad" required/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">Estado Civil:</label>
                        <div class="col-lg-9">
                            <select class="form-control" ng-model="formData.civil" name="edo_civil" id="edo_civil" ng-disabled="formData.radioPerson != 'fisica'" ng-required="formData.radioPerson == 'fisica'">
                                <option selected>Estado Civil </option>
                                <option value="Soltero/a">Soltero/a</option>
                                <option value="Casado/a">Casado/a</option>
                                <option value="Divorciado/a">Divorciado/a</option>
                                <option value="Viudo/a">Viudo/a</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">Razón Social:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" ng-model="formData.reason" name="razon_social" id="razon_social"  placeholder="Razón Social"  ng-disabled="formData.radioPerson != 'moral'" ng-required="formData.radioPerson == 'moral'"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">RFC:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="rfc" id="RFC" ng-model="formData.rfc" type="text" placeholder="RFC" ng-pattern="/^([A-Z|a-z|&amp;]{3})(([0-9]{2})([0][13456789]|[1][012])([0][1-9]|[12][\d]|[3][0])|([0-9]{2})([0][13578]|[1][02])([0][1-9]|[12][\d]|[3][01])|([02468][048]|[13579][26])([0][2])([0][1-9]|[12][\d])|([1-9]{2})([0][2])([0][1-9]|[12][0-8]))(\w{2}[A|a|0-9]{1})$|^([A-Z|a-z]{4})(([0-9]{2})([0][13456789]|[1][012])([0][1-9]|[12][\d]|[3][0])|([0-9]{2})([0][13578]|[1][02])([0][1-9]|[12][\d]|[3][01])|([02468][048]|[13579][26])([0][2])([0][1-9]|[12][\d])|([1-9]{2})([0][2])([0][1-9]|[12][0-8]))((\w{2})([A|a|0-9]{1})){0,3}$/" required/>
                            <span ng-show="profileForm.rfc.$error.pattern" class="text-danger">El formato de RFC es incorrecto</span>
                        </div>
                    </div>
                    <div class="row form-group">

                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">Patrimonio:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="Patrimonio" ng-model="formData.patrimony" id="Patrimonio" type="text" placeholder="Patrimonio" ng-disabled="formData.radioPerson != 'fisica'" ng-required="formData.radioPerson == 'fisica'"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-lg-3 control-label">Giro:</label>
                        <div class="col-lg-9">
                            <input type="text" name="Giro" id="Giro" class="form-control" ng-model="formData.order" placeholder="Giro" ng-disabled="radioPerson != 'moral'" ng-required="formData.radioPerson == 'moral'"/>
                        </div>
                    </div>
                <hr class="colorgraph">
                <div class="row" align="center">
                    <div class="col-sm-6">
                        <a class="btn btn-lg btn-danger" id="registration" ng-click="">Cancelar</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-lg btn-primary btn-raised" id="registration" ng-disabled="profileForm.$invalid" value="Guardar">
                    </div>
                </div>

            </div>
    </div>
</div>

