<div ng-include="'templates/header.html'"></div>
   <div class="container top-cont">
    <div class="row no-margin" ng-controller="ProfileController">
        <div ng-include="'templates/menu.html'"></div>
        <div class="col-md-8 col-md-offset-2 personal-info well">
            <h1 class="page-header">Editar Perfil</h1>
                <div class="row">
                    <div class="col-md-12">
                        <tabs>
                            <pane title="Datos Personales">
                                <form ng-submit="saveProfile()" name="profileForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Nombre(s):</label>
                                                <input class="form-control" type="text" ng-model="formData.name" name="name" id="name" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="lastname">Apellidos(s):</label>
                                                <input class="form-control" type="text" ng-model="formData.lastname" name="lastname" id="lastname" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="mail">Correo:</label>
                                                <input class="form-control" type="email" ng-model="formData.mail" name="mail" id="mail" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="address">Calle y Número:</label>
                                                <input class="form-control" name="address" ng-model="formData.address" id="address" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="city">Ciudad:</label>
                                                <input class="form-control" name="city" ng-model="formData.city" id="city" type="text" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="state">Estado:</label>
                                                <input class="form-control" name="state" ng-model="formData.state" id="state" type="text" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="cp">C.P.:</label>
                                                <input class="form-control" name="cp" ng-model="formData.cp" id="cp" type="number" required/>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label for="rememberme">
                                                    <input type="checkbox" id="rememberme" name="rememberme" value="rememberme">
                                                    <span class="checkbox-material"><span class="check"></span></span>
                                                    Usar mismos datos para Facturar</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </pane>
                            <pane title="Facturación">
                                <form ng-submit="saveBilling()" name="billForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="name">Nombre(s):</label>
                                                <input class="form-control" type="text" ng-model="billData.name" name="name" id="name" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="lastname">Apellidos(s):</label>
                                                <input class="form-control" type="text" ng-model="billData.lastname" name="lastname" id="lastname" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="mail">Correo:</label>
                                                <input class="form-control" type="email" ng-model="billData.mail" name="mail" id="mail" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="address">Calle y Número:</label>
                                                <input class="form-control" name="address" ng-model="billData.address" id="address" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="city">Ciudad:</label>
                                                <input class="form-control" name="city" ng-model="billData.city" id="city" type="text" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="state">Estado:</label>
                                                <input class="form-control" name="state" ng-model="billData.state" id="state" type="text" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="cp">C.P.:</label>
                                                <input class="form-control" name="cp" ng-model="billData.cp" id="cp" type="number" required/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </pane>
                            <pane title="Configuraciones">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Cambiar contraseña</h4>
                                        <div class="form-group">
                                            <label class="control-label" for="actpss">Contraseña Actual:</label>
                                            <input class="form-control" name="actpss" ng-model="pssChange.actpss" id="actpss" type="number" required/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="newpss">Contraseña Nueva:</label>
                                            <input class="form-control" name="newpss" ng-model="pssChange.newpss" id="newpss" type="number" required/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="repnewpss">Repetir Contraseña Nueva:</label>
                                            <input class="form-control" name="repnewpss" ng-model="pssChange.repnewpss" id="repnewpss" type="number" required/>
                                        </div>
                                    </div>
                                </div>
                            </pane>
                        </tabs>
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row" align="center">
                    <div class="col-sm-6">
                        <a class="btn btn-lg btn-danger" id="registration" ng-click="">Cancelar</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-lg btn-primary btn-raised" id="registration" ng-disabled="profileForm.$invalid" value="Guardar">
                    </div>
                </div>

            </div>
    </div>
</div>

