<div class="row" ng-controller="resetController">
    <div class="col-md-6 col-md-offset-3 well">
        <h1 class="text-center page-header">Restablecer contraseña</h1>
        <p>Por favor, escribe tu nueva contraseña y confírmala.</p>
        <form class="center-block form-horizontal" name="reset_pass">
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Nueva contraseña" name="newPass" id="newPass" ng-model="newPass" autocomplete="off" required ng-minlength="8">
                <span ng-show="reset_pass.newPass.$error.minlength">La contraseña debe contener al menos 8 caracteres</span>
                <input type="password" class="form-control input-lg" placeholder="Confirmacion de nueva contraseña" name="confirmNewPass" id="confirmNewPass" ng-model="confirmNewPass" autocomplete="off" required ng-minlength="8">
                <span ng-show="newPass != confirmNewPass">Las contraseñas no son iguales</span>
            </div>
            <div class="form-group">
                <button class="btn btn-lg pull-right btn-success btn-raised" id="loginButton" ng-disabled="reset_pass.$invalid || newPass != confirmNewPass" ng-click="forgot()">Restablecer contraseña</button>
            </div>
        </form>
    </div>
</div>
