<div ng-include="'templates/header.html'"></div>

<div class="container top-cont">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">

            <h1 class="text-center page-header">Restablecer contraseña</h1>

            <p>Por favor, escribe tu nueva contraseña y confírmala.</p>

            <form class="center-block form-horizontal" name="reset_pass" ng-submit="reset()">

               <div class="form-group">
                  <input type="password" class="form-control input-lg" placeholder="Nueva contraseña" name="newPass" id="newPass" ng-model="form.password" autocomplete="off" required ng-minlength="8">
                  <span ng-show="reset_pass.newPass.$error.minlength" class="text-danger">La contraseña debe contener al menos 8 caracteres</span>
                  <input type="password" class="form-control input-lg" placeholder="Confirmacion de nueva contraseña" name="confirmNewPass" id="confirmNewPass" ng-model="form.confirm" autocomplete="off" required ng-minlength="8">
                  <span ng-show="newPass != confirmNewPass" class="text-danger">Las contraseñas no son iguales</span>
               </div>

               <div class="col-md-6 text-center">
                  <input type="submit" value="Restablecer contraseña" class="btn btn-lg btn-success btn-raised" ng-disabled="reset_pass.$invalid || newPass != confirmNewPass">
               </div>

            </div>

         </form>

      </div>
   </div>
</div>

<div ng-include="'templates/footer.html'"></div>
