<div ng-include="'templates/header.html'"></div>

<div class="container top-cont">
    <div class="row no-margin" ng-controller="AccessController">
        <div class="col-sm-6 col-sm-offset-3 well">
            <h2 class="page-header text-center">Registro</h2><br>
            <div class="row">
                <div class="col-md-12">
                    <form ng-submit="signup()" name="registerForm">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Correo Electronico" tabindex="5" ng-model="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" ng-model="password" class="form-control input-lg" placeholder="Contraseña" tabindex="6" ng-model="password" required ng-minlength="8">
                            <span ng-show="registerForm.password.$error.minlength" class="text-danger">La contraseña debe contener al menos 8 caracteres</span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm" id="password_confirmation" class="form-control input-lg" placeholder="Confirmar Contraseña" tabindex="7" ng-model="confirm" required>
                            <span ng-show="password != confirm" class="text-danger">Las contraseñas no son iguales</span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="ok">
                                <input type="checkbox" id="ok" value="acepto" ng-model="register" required>
                                <span class="checkbox-material"><span class="check"></span></span>
                                Estoy de acuerdo</label>
                            </div>
                        </div>
                                <p>Al hacer clic en <span class="label bold label-primary">Registrarse</span>,
                                usted acepta los <a href="" data-toggle="modal" ng-click="toggleModal()">
                                Términos y Condiciones</a> establecidos por este sitio.</p>
                        <hr class="colorgraph">
                        <form ng-submit="signup()" class="row">
                            <div class="col-md-6 text-center">
                                <a class="btn btn-danger btn-lg" href="#login">Cancelar</a>
                            </div>
                            <div class="col-md-6 text-center">
                                <input type="submit" value="Registrarse" name="Registrarse" class="btn btn-lg btn-primary btn-raised" ng-disabled="registerForm.$invalid || password != confirm">
                            </div>
                        </form>
                    </form>
                </div>
                <!--Terminos & condiciones-->
                <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="t_and_c_m" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Terminos y Condiciones</h4>
                            </div>
                            <div class="modal-body">
                                <p>Al hacer clic en Registro, usted acepta los términos y condiciones
                                    establecidos por este sitio, incluyendo nuestro uso de cookies.
                            </div>
                            <div class="modal-footer">
                                    <input type="button" href="#" class="btn btn-primary" value="Cerrar" data-dismiss="modal" aria-hidden="true"/>
                            </div>
                        </div>
                    </div>
                </div><!-- end terminos-->
            </div>
        </div>
    </div>
</div>

<div ng-include="'templates/footer.html'"></div>

