.nav-tabs{
    background: transparent;
    li{
        &.active{
            border-bottom: 2px solid #009688;
            a{
                color: #333 !important;
                &:hover{
                    color: #333 !important;
                }
            }
        }
        a{
            color: #333 !important;
            &:hover{
                color: #009688 !important;
            }
        }
    }
}
