header{
    position: absolute;
    z-index: -3;
    width: 100%;
    .panel-primary{
        .panel-heading{
            height: 300px;
            background-image: url("../../images/back.jpg");
            background-size: cover;
        }
    }
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover{
    background-color: transparent;
    border-bottom: 2px solid white;
}

.navbar{
    background: transparent !important;
}

.top-cont{
    padding-top: 80px;
}

.form-horizontal .form-group {
    margin: 0;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.btn{
    min-width: 180px;
}

.well{
    animation: 0.5s readypage;
}

.animloadHead{
    animation: 2s readyhead;
}

.bold{
    font-weight: bold;
}
.ml0 {
    margin-left: 0;
}
.mr0 {
    margin-right: 0;
}
.mt0 {
    margin-top: 0;
}
.mb0 {
    margin-bottom: 0;
}
.m30 {
    margin: 30px;
}
.mr30 {
    margin-right: 30px;
}
.ml30 {
    margin-left: 30px;
}
.mt30 {
    margin-top: 30px;
}
.mb30 {
    margin-bottom: 30px;
}
.m25 {
    margin: 25px;
}
.mr25 {
    margin-right: 25px;
}
.ml25 {
    margin-left: 25px;
}
.mt25 {
    margin-top: 25px;
}
.mb25 {
    margin-bottom: 25px;
}
.m20 {
    margin: 20px;
}
.mr20 {
    margin-right: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.m15 {
    margin: 15px;
}
.mr15 {
    margin-right: 15px;
}
.ml15 {
    margin-left: 15px;
}
.mt15 {
    margin-top: 15px;
}
.mb15 {
    margin-bottom: 15px;
}
.m10 {
    margin: 10px;
}
.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.m5 {
    margin: 5px;
}
.mr5 {
    margin-right: 5px;
}
.ml5 {
    margin-left: 5px;
}
.mt5 {
    margin-top: 5px;
}
.mb5 {
    margin-bottom: 5px;
}
.m2 {
    margin: 2px;
}
.mr2 {
    margin-right: 2px;
}
.ml2 {
    margin-left: 2px;
}
.mt2 {
    margin-top: 2px;
}
.mb2 {
    margin-bottom: 2px;
}
/* Padding */
.pl0 {
    padding-left: 0;
}
.pr0 {
    padding-right: 0;
}
.pt0 {
    padding-top: 0!important;
}
.pb0 {
    padding-bottom: 0;
}
.p30 {
    padding: 30px;
}
.pr30 {
    padding-right: 30px;
}
.pl30 {
    padding-left: 30px;
}
.pt30 {
    padding-top: 30px;
}
.pb30 {
    padding-bottom: 30px;
}
.p25 {
    padding: 25px;
}
.pr25 {
    padding-right: 25px;
}
.pl25 {
    padding-left: 25px;
}
.pt25 {
    padding-top: 25px;
}
.pb25 {
    padding-bottom: 25px;
}
.p20 {
    padding: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pl20 {
    padding-left: 20px;
}
.pt20 {
    padding-top: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.p15 {
    padding: 15px;
}
.pr15 {
    padding-right: 15px;
}
.pl15 {
    padding-left: 15px;
}
.pt15 {
    padding-top: 15px;
}
.pb15 {
    padding-bottom: 15px;
}
.p10 {
    padding: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pl10 {
    padding-left: 10px;
}
.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.p5 {
    padding: 5px;
}
.pr5 {
    padding-right: 5px;
}
.pl5 {
    padding-left: 5px;
}
.pt5 {
    padding-top: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.p2 {
    padding: 2px;
}
.pr2 {
    padding-right: 2px;
}
.pl2 {
    padding-left: 2px;
}
.pt2 {
    padding-top: 2px;
}
.pb2 {
    padding-bottom: 2px;
}
/* no background color*/
.no-bg {
    background-color: transparent!important;
}

/* Position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.corner-to-corner {
    position: absolute;
}
.fixed{
    position: fixed;
}

.lt {
    left: 0;
}
.rt {
    right: 0;
}
.bt {
    bottom: 0;
}
.tp {
    top: 0;
}
/* Radius */
.no-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Overflow */
.overflow-hidden {
    overflow: hidden;
}
.overflow-visible {
    overflow: visible;
}
.overflow-auto {
    overflow: auto;
}
.block {
    display: block;
}

.inline{
    display: inline-block;
}

.open .hover-inactive,
.hover-inactive {
    &:hover,
    &:focus{
        background-color: transparent!important;
    }
}
/* Widths */
.w100 {
    width: 100%;
}

/* Borders */
.no-border
{
    border: 0;
}

.full-height {
  height: 100%;
}

.visible {
  visibility: visible;
}

.scrollable {
  overflow: hidden;
  position: relative;
}

.alpha{
  padding-left: 0;
}

.omega{
  padding-right: 0;
}


@keyframes readypage {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes readyhead{
     from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
